# Core functionality - changes here should be rare!
/src/app.py                   @katieeyu
/src/backend/database.py      @katieeyu
/src/backend/routers/auth.py  @katieeyu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @katieeyu
